<table class="all">
	<tr>
		<td>
			<div class="sidebar">
				<%= render @workouts %>
			</div>
		</td>
		<td>
		<div class="exercises">
				<%= render @workouts.first.exercises %></div>
		</td>
	</tr>
</table>
