<div class="descbar">
	<%= render('workouts/title', :workout => @workout) %>
</div>
<div class="exercises" style="top:150px">
	<table class="exercises"><%= render @workout.exercises %></table>
		<div class="results"></div>
</div>

<script>
$("div.sidebar a").removeClass("highlight");
$("a#wo<%= @workout.id %>").addClass("highlight");
</script>
