<div class="descbar" style="display:none">
</div>
<div class="exercises" style="top:0px">
	<table class="exercises"><%= render Glossary.all %></table>
			<div class="results"></div>
</div>
<script>
$("div.sidebar a").removeClass("highlight");
$("a#Glossary").addClass("highlight");
$("a#bu<%= @glossary.id %>").click();
</script>
