<li>
<%= anchor_point_height.name %> | <%= link_to 'Edit', edit_anchor_point_height_path(anchor_point_height) %> | <%= link_to "delete", anchor_point_height, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{anchor_point_height.name}" %>
</li>
