<h1>Edit Anchor Point Height</h1>

<%= form_for(@anchor_point_height) do |f| %>
<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>
<div class="actions">
	<%= f.submit "Save" %>
</div>
<% end %>

