<div class="descbar" style="display:none">
</div>
<div class="exercises" style="top:0px">
	<table class="exercises"></table>
	<div class="results">
		<%= @user.name %>, <%= @user.email %>
	</div>
</div>
