<li>
<%= optional_accessory.name %> | <%= link_to 'Edit', edit_optional_accessory_path(optional_accessory) %> | <%= link_to "delete", optional_accessory, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{optional_accessory.name}" %>
</li>
