<h1>All Optional Accessories</h1>
<ul class="optional_accessories">
  <%= render @optional_accessories %>
</ul>

<%= link_to 'New Optional Accessory', new_optional_accessory_path %>

<%= image_tag("itunes.png", :alt => "Sample App") %>
