body {
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

tbody tr:nth-child(even) td, tbody tr.even td {background:#f2f5f9;}

/* Sidebar */

div.sidebar {
	width: 300px;
	border:1px solid #bbb;
	$startColorstr:#e7eaef;
	$endColorstr:#d1d8df;
	background: $startColorstr;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColorstr, endColorstr=$endColorstr);
	background: -webkit-linear-gradient(top, $startColorstr, $endColorstr);
	background: -moz-linear-gradient(top,  $startColorstr, $endColorstr);
	.search {
		$startColorstr:#e3e3e3;
		$midColorstr:#fff;
		$endColorstr:#b2b2b2;
		background: #e3e3e3;
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColorstr, endColorstr=$endColorstr);
		background: -webkit-linear-gradient(top, $startColorstr, $midColorstr, $startColorstr);
		background: -moz-linear-gradient(top, $startColorstr,  $midColorstr,  $startColorstr);
		border-radius: 10px;
		border: 1px inset #999;
		
		color: #999;
		font-style:italic;
	}
	
	h1 {
		color: #717171;
	}
	$startColorstr:#c4cdcf;
	$endColorstr:#93a1bd;
	a {
		&:hover {
			background: $startColorstr;
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='$startColorstr, endColorstr=$endColorstr);
			background: -webkit-linear-gradient(top, $startColorstr, $endColorstr);
			background: -moz-linear-gradient(top,  $startColorstr,  $endColorstr);
			border:1px solid $startColorstr;
		}
		&:active {
			background: $endColorstr;
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=$endColorstr, endColorstr=$startColorstr);
			background: -webkit-linear-gradient(top, $endColorstr, $startColorstr);
			background: -moz-linear-gradient(top,  $endColorstr,  $startColorstr);
		}
		
		&.highlight {
			background: $endColorstr;
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColorstr, endColorstr=$endColorstr);
			background: -webkit-linear-gradient(top, $startColorstr, $endColorstr);
			background: -moz-linear-gradient(top,  $startColorstr,  $endColorstr);
			border:1px solid $startColorstr;
		}
	}
}


/* Description Bar */

div.descbar {
	left:300px;
	border:1px solid #bbb;
	$startColorstr:#e3e3e3;
	$endColorstr:#b2b2b2;
	background: $startColorstr;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColorstr, endColorstr=$endColorstr);
	background: -webkit-linear-gradient(top, $startColorstr, $endColorstr);
	background: -moz-linear-gradient(top,  $startColorstr, $endColorstr);
	h1 {
		color: #000;
	}
}

div.catimage {
	$startColorstr:#edf0e1;
	$midColorstr:#dfe4c8;
	$endColorstr:#edf1d5;
	background: $startColorstr;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColorstr, endColorstr=$endColorstr);
	background: -webkit-linear-gradient(top, $startColorstr, $midColorstr, $endColorstr);
	background: -moz-linear-gradient(top,  $startColorstr, $midColorstr,  $endColorstr);
}

/* Exercise List */

div.exercises {
	border:1px solid #bbb;
	background: #fff;
	left:300px;
}

table tr td.exercise {
	a.expand {
		color: #000;
		background-color: #d9ece0;
	}
}



