container {
	width: 710px;
}

section.back {
	background: #e6eaef;
}

body {
	background: #e6eaef;
}

td.exercise {
	padding:0px;
}

tbody tr:nth-child(even) td, tbody tr.even td {background:#f2f5f9;}


span.category {
	color: #888;
	margin:20px;
}

table.allinfo tr td{
	vertical-align: top;
}

table.allinfo {
	margin-bottom: 0px;
	padding-left:20px;
}

div.scroll {
height: 80px;
width: 350px;
overflow: auto;
white-space: nowrap;
}


div.exercises {
	width: 705px;	
	padding: 0px;
	margin: 0px;
	margin-left: -18px;
	border:1px solid #bbb;
	background: #fff;
	height: 610px;
	overflow: auto;
}

div.sidebar {
	width: 230px;
	padding: 5px;
	margin: 0px;
	border:1px solid #bbb;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis-word;
	background: #fff;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7eaef', endColorstr='#d1d8df');
	background: -webkit-gradient(linear, left top, left bottom, from(#e7eaef), to(#d1d8df));
	background: -moz-linear-gradient(top,  #e7eaef,  #d1d8df);
	height: 600px;
}

.sidebar h1 {
	font-size: 100%;
	font-weight:bold;
	color: #a1a1a1;
	margin: 2px;
	margin-top:10px;
	text-shadow: rgba(255,255,255,0.5) 0 1px

}
h2.sbbutton {
	font-size: 100%;
	margin: 2px;
	padding: 0px 0px 0px 5px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-moz-binding:url(/ellipsis-xbl.xml#ellipsis)
		 
}

h2.sbbutton:hover{
	background: #0d0;
	background: -webkit-gradient(linear, left top, left bottom, from(#c4cdcf), to(#93a1bd));
	border:1px solid #93a1bd;
	width:230px;
	margin-left: -6px;
	padding-left: 12px;
	margin-top:-1px;
	margin-bottom:-1px;
	font-weight:bold;
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px;
	cursor: pointer;
}

h2.highlight{
	background: #0d0;
	background: -webkit-gradient(linear, left top, left bottom, from(#c4cdcf), to(#93a1bd));
	border:1px solid #93a1bd;
	width:230px;
	margin-left: -6px;
	padding-left: 12px;
	margin-top:-1px;
	margin-bottom:-1px;
	font-weight:bold;
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-moz-binding:url(/ellipsis-xbl.xml#ellipsis)
}

h2.sbbutton:active{
	background: -webkit-gradient(linear, left top, left bottom, from(#93a1bd), to(#c4cdcf));
}

table.all tr td{
	vertical-align: top;
}

table tr td.exercise div.expand {
	width: 10px;
	height: 10px;
	margin-left:10px;
	margin-top:4px;
	line-height:10px;
	vertical-align:middle;
	text-align:center;
	padding:0px;
	background-color: #d9ece0;
	float:left;
	border-radius:2px;
}

table tr td.exercise div.expand:hover {
	cursor:pointer;
}

table tr td.exercise div.text {
	float:left;
	margin-left: 10px;
}


table.information {
	width: 350px;
	border:1px solid #999;
}

table.information tr.titles td {
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px;
	background: #184F83;
}

table.information tr.values td {
	text-align: center;
	vertical-align: top;
	margin-right: 5px;
	border-right: 5px solid white;
	border-left:  5px solid white;
	color: #fff;
	background: #3D403C;
	
}

/*
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 30px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
background-color: #3b3b3b;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #666;
border: 1px solid #eee;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
width: 50px;
background-color: #666;
border: 1px solid #eee;
-webkit-border-radius: 6px;
}
