<h1 class="sbbutton" id="<%= category.name %>"><%= category.name %></h1>
<script>
	$("h1#<%= category.name %>").click(function () {
	$("div.exercises").html("<%= escape_javascript(render(category.exercises)) %>");
	}); 
</script>

