<table class="all">
	<tr>
		<td>
			<div class="sidebar">
			By Category:
			<h1 class="sbbutton" id="All">All</h1>
			<%= render @categories %>
			Workouts:
			<%= render Workout.all %>
			</div>
			
		</td>
		<td>
		<div class="exercises">
				<%= render Exercise.all %></div>
		</td>
	</td>
</table>
<script>
	$("div#All").click(function () {
	$("div.exercises").html("<%= escape_javascript(render(Exercise.all)) %>");
	}); 
</script>


