<table class="all">
	<tr>
		<td>
			<div class="sidebar">
			<h1> CATEGORY </h1>
			<h2 class="sbbutton" id="All">All</h2>
			<%= render @categories %>
			<h1> WORKOUT </h1>
			<%= render Workout.all %>
			</div>
			
		</td>
		<td>
		<div class="exercises">
			<table class="exercises">
				<%= render Exercise.all %>
			</table>
		</div>
		</td>
	</td>
</table>
<script>
	$("h2#All").click(function () {
	$("table.exercises").html("<%= escape_javascript(render(Exercise.all)) %>");
	$("div.sidebar h2").removeClass("highlight");
	$("h2#All").addClass("highlight");
	}); 
</script>


