<table class="all">
	<tr>
		<td>
			<div class="categories">
			<div class="category" id="All">All</div>
			<%= render @categories %></div>
		</td>
		<td>
		<div class="exercises">
				<% @categories.each do |category| %><%= render category.exercises %><% end %></div>
		</td>
	</td>
</table>
<script>
	$("div#All").click(function () {
	$("div.exercises").html("<%= escape_javascript(render(Exercise.all)) %>");
	}); 
</script>


